[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

# List any Python dependencies for the image here
[packages]
chevron = "*"
docopt = "*"
geos = "*"
matplotlib = "*"
mongo-db-from-config = {file = "https://github.com/cisagov/mongo-db-from-config/archive/v1.2.1.tar.gz"}
numpy = "*"
pandas = "*"
pypdf2 = "*"

# This version should match the version of Python in the image
[requires]
python_full_version = "3.14.2"
